{% extends 'main/main_layout.html' %}
{% load static %}
{% load url_replace %}

{% block title %} TOYPRICES.RU {% endblock %}

{% block content %}
    <div class="site_description">
        <h1>Мониторинг цен на наборы LEGO</h1>
        <p>Данный сайт не является интернет-магазином!</p>
        <p>На сайте опубликованы данные об истории цен на наборы LEGO в популярных интернет-магазинах.</p>
        <p>Данный веб-сайт является независимым и не был санкционирован или создан Группой компаний LEGO®</p>
        <p>Всего на сайте: <b>{{ lego_sets_count }}</b> наборов LEGO и <b>{{ prices_count }}</b> записей о ценах</p>
    </div>
    <div class="index_wrapper">
        <h2>Последние добавленные наборы LEGO:</h2>
        <div class="products_inner">
            {% for legoset in legoset_list %}
                <div class="product_wrapper div_href">
                    <div class="product_image">
                        <img src="{% static legoset.small_image.0.filename|dds %}" alt="{{ legoset.id }}">
                    </div>
                    <div class="product_info">
                        <div class="product_id"># {{ legoset.id }}</div>
                        <div class="product_added"> Добавлен: {{ legoset.created_at }} </div>
                        <div class="product_main_info">
                            <div class="product_param product_price
                                {% if not legoset.statistic.today_price %}
                                    hidden
                                {% endif %}">
                                {% if legoset.statistic.today_price %}
                                    {{ legoset.statistic.today_price }} Р
                                {% endif %}
                            </div>
                            <div class="product_param product_discount
                                    {% if not legoset.statistic.today_discount or legoset.statistic.today_discount <= 0 %}
                                        hidden
                                    {% endif %}
                                    " style="background-color:
                                    {% if legoset.statistic.today_discount < 10 %}
                                        PaleGreen
                                    {% elif legoset.statistic.today_discount < 10 %}
                                        MediumSpringGreen
                                    {% elif legoset.statistic.today_discount < 20 %}
                                        GreenYellow
                                    {% elif legoset.statistic.today_discount < 30 %}
                                        Yellow
                                    {% elif legoset.statistic.today_discount < 40 %}
                                        DarkOrange
                                    {% elif legoset.statistic.today_discount <= 50 %}
                                        OrangeRed
                                    {% elif legoset.statistic.today_discount > 50 %}
                                        Red
                                    {% endif %}
                                    "> {{ legoset.statistic.today_discount }}%
                            </div>
                        </div>

                        <a href="/{{ legoset.id }}">{{ legoset.name }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}