{% extends 'main/main_layout.html' %}
{% load static %}
{% load url_replace %}

{% block title %} LEGO # {{ object.id }} {% endblock %}

{% block content %}
    <div class="single_content_wrapper">
        <div class="single_info_wrapper">
            <div class="single_image">
                <img src="{% static object.big_image.0.filename|dds %}" alt="{{ legoset.id }}">
            </div>
            <div class="single_info">
                <h1>#{{ object.id }}</h1>
                <h2>{{ object.name }}</h2>
                <p>Серия: <span class="single_params">{{ object.serie }}</span></p>
                <p>Возраст: <span class="single_params">{{ ages }}</span></p>
                <p>Деталей: <span class="single_params">{{ object.details }}</span></p>
                <p>Минимальная цена: <span class="single_params">{{ object.statistic.minimal_price }} Р</span></p>
                <p>Средняя цена: <span class="single_params">{{ object.statistic.middle_price }} Р</span></p>
                <p>Скидка сегодня: <span class="single_params single_discount"
                                         style="background-color:
                                                 {% if legoset.statistic.today_discount < 0 %}
                                                     white
                                                 {% elif legoset.statistic.today_discount < 10 %}
                                                     PaleGreen
                                                 {% elif legoset.statistic.today_discount < 10 %}
                                                     MediumSpringGreen
                                                 {% elif legoset.statistic.today_discount < 20 %}
                                                     GreenYellow
                                                 {% elif legoset.statistic.today_discount < 30 %}
                                                     Yellow
                                                 {% elif legoset.statistic.today_discount < 40 %}
                                                     DarkOrange
                                                 {% elif legoset.statistic.today_discount <= 50 %}
                                                     OrangeRed
                                                 {% elif legoset.statistic.today_discount > 50 %}
                                                     Red
                                                 {% endif %}
                                                 "
                >
                {% if object.statistic.today_discount > 0 %}
                    {{ object.statistic.today_discount }}%
                {% endif %}
                </span></p>
                <p>Цена сегодня:
                    <span class="single_params single_price">
                    {% if today_minprice %}
                        {{ today_minprice }} Р
                    {% else %}
                        НЕТ В ПРОДАЖЕ
                    {% endif %}
                </span></p>

                <div class="shop_logos">
                    {% for link in object.links.all %}
                        {% if link.shop_id == 1 and link.url %}
                            <a class="shop_logo" target="_blank" href="{{ link.url }}">
                                <img src="{% static "main/images/shops/detmir.png" %}" alt="detmir.ru">
                            </a>
                        {% elif link.shop_id == 2 and link.url %}
                            <a class="shop_logo" target="_blank" href="{{ link.url }}">
                                <img src="{% static "main/images/shops/wildberries.png" %}" alt="wildberries.ru">
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="today_prices">
                    {% for link in object.links.all %}
                        {% if link.url %}
                            <div class="today_price">
                                {% for id, today_price in today_prices.items %}
                                    {% if link.shop_id == id %}
                                        {{ today_price }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="single_description">
            <p>Добавлен на сайт: {{ object.created_at }}</p>
            <p>{{ object.description }}</p>
        </div>
        <div class="single_table_wrapper">
            <p class="prices_table_title">История изменения цен</p>
            <table class="prices_table">
                <tr>
                    <th>Дата</th>
                    <th>Детский мир без скидки</th>
                    <th>Детский мир со скидкой</th>
                    <th>Wildberries без скидки</th>
                    <th>Wildberries со скидкой</th>
                </tr>
                {% for price in prices %}
                    <tr>
                        <td>{{ price.0 }}</td>
                        <td>{{ price.1 }}</td>
                        <td>{{ price.2 }}</td>
                        <td>{{ price.3 }}</td>
                        <td>{{ price.4 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}