{% extends 'main/main_layout.html' %}
{% load static %}
{% load url_replace %}

{% block title %} {{ page_title }} {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/sliders.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="sidebar">
            <button id="expand_sorting" class="sort-by">Развернуть меню сортировки и фильтров</button>
            <button id="remove_sorting" class="sort-by">Cвернуть меню сортировки и фильтров</button>
            <form class="sidebar_list" action="" method="get">
                <div class="sort-by">
                    <label for="">Наборов на странице:
                        <select name="pag" id="pagination-select">
                            <option
                                    {% if pagination == '20' %}
                                        selected
                                    {% endif %}
                                        value="20">20
                            </option>
                            <option
                                    {% if pagination == '40' %}
                                        selected
                                    {% endif %}
                                        value="40">40
                            </option>
                            <option
                                    {% if pagination == '60' %}
                                        selected
                                    {% endif %}
                                        value="60">60
                            </option>
                            <option
                                    {% if pagination == '100' %}
                                        selected
                                    {% endif %}
                                        value="100">100
                            </option>
                        </select>
                    </label>
                </div>
                <div class="sort-by">Отсортировать по:</div>
                <button type="submit" name="ordering" class="ordering-button
                    {% if ordering == 'pr' %} active" value='-pr'>Цене&#9650;
                {% elif ordering == '-pr' %} active" value='pr'>Цене&#9660;
                {% else %}" value='pr'>Цене
                {% endif %}
                </button>
                <button type="submit" name="ordering" class="ordering-button
                    {% if ordering == 'ds' %} active"
                        value='-ds'>Скидке&#9650;
                {% elif ordering == '-ds' %} active" value='ds'>Скидке
                    &#9660;
                {% else %}" value='-ds'>Скидке
                {% endif %}
                </button>
                <button type="submit" name="ordering" class="ordering-button
                    {% if ordering == 'ag' %} active" value='-ag'>Возрасту&#9650;
                {% elif ordering == '-ag' %} active" value='ag'>Возрасту&#9660;
                {% else %}" value='ag'>Возрасту
                {% endif %}
                </button>
                <button type="submit" name="ordering" class="ordering-button
                    {% if ordering == 'dt' %} active" value='-dt'>Деталям&#9650;
                {% elif ordering == '-dt' %} active" value='dt'>Деталям&#9660;
                {% else %}" value='dt'>Деталям
                {% endif %}
                </button>
                <button type="submit" name="ordering" class="ordering-button
                    {% if ordering == 'nw' %} active" value='-nw'>Новизне&#9650;
                {% elif ordering == '-nw' %} active" value='nw'>Новизне&#9660;
                {% else %}" value='-nw'>Новизне
                {% endif %}
                </button>

                <div class="sort-by">Фильтры:</div>
                Цена:
                <div class="ordering-button">
                    от <input type="number" class="price-range" id="price-from" name="price_from"
                              value="{{ request.GET.price_from }}">
                    до <input type="number" class="price-range" id="price-to" name="price_to"
                              value="{{ request.GET.price_to }}">

                    <div id="slider-price-range" class="slider-range"></div>
                </div>
                Возраст:
                <div class="ordering-button">
                    от <input type="number" class="price-range" id="age-from" name="age_from"
                              value="{{ request.GET.age_from }}">
                    до <input type="number" class="price-range" id="age-to" name="age_to"
                              value="{{ request.GET.age_to }}">

                    <div id="slider-age-range" class="slider-range"></div>
                </div>
                Деталей:
                <div class="ordering-button">
                    от <input type="number" class="price-range" id="details-from" name="details_from"
                              value="{{ request.GET.details_from }}">
                    до <input type="number" class="price-range" id="details-to" name="details_to"
                              value="{{ request.GET.details_to }}">
                    <div id="slider-details-range" class="slider-range"></div>
                </div>
                <input id="input-checkbox" type="checkbox" name="discount" {% if request.GET.discount %}
                       checked {% endif %}>
                <div class="ordering-button">
                    <label for="input-checkbox">
                        Только со скидкой
                    </label>
                </div>
                <button type="submit" class="ordering-button" id="filter-submit">Применить фильтры</button>
                <input type="hidden" name="search_request" value="{{ request.GET.search_request }}">
            </form>
        </div>
        <div class="products_outer">
            {% if is_paginated %}
                <div class="pagination">
                    {% for page in page_obj.paginator.page_range %}
                        {% if page == 1 or page >= page_obj.number|add:'-3' and page <= page_obj.number|add:'3' or page == page_obj.paginator.num_pages %}
                            <a class="paginator_page_num {% if page == page_obj.number %} active {% endif %}"
                               href="?{% paginator_url_replace request 'page' page %}">
                                {{ page }}
                            </a>
                        {% else %}
                            {% if page == page_obj.number|add:'-4' or page == page_obj.number|add:'4' %}
                                <span class="paginator_page_ellipsis">...</span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="products_inner">
                {% for legoset in legoset_list %}
                    <div class="product_wrapper div_href">
                        <div class="product_image">
                            <img src="{% static legoset.small_image.0.filename|dds %}" alt="{{ legoset.id }}">
                        </div>
                        <div class="product_info">
                            <div class="product_id"># {{ legoset.id }}</div>
                            {% if ordering == 'ag' or ordering == '-ag' %}
                                возраст: {{ legoset.ages_str }}
                            {% elif ordering == 'dt' or ordering == '-dt' %}
                                деталей: {{ legoset.details }}
                            {% elif ordering == 'nw' or ordering == '-nw' %}
                                {{ legoset.created_at|date:"d.m.Y" }}
                            {% endif %}
                            <div class="product_main_info">
                                <div class="product_param product_price
                                {% if not legoset.statistic.today_price %}
                                    hidden
                                {% endif %}">
                                    {% if legoset.statistic.today_price %}
                                        {{ legoset.statistic.today_price }} Р
                                    {% endif %}
                                </div>
                                <div class="product_param product_discount
                                    {% if not legoset.statistic.today_discount or legoset.statistic.today_discount <= 0 %}
                                        hidden
                                    {% endif %}
                                    " style="background-color:
                                        {% if legoset.statistic.today_discount < 10 %}
                                            PaleGreen
                                        {% elif legoset.statistic.today_discount < 10 %}
                                            MediumSpringGreen
                                        {% elif legoset.statistic.today_discount < 20 %}
                                            GreenYellow
                                        {% elif legoset.statistic.today_discount < 30 %}
                                            Yellow
                                        {% elif legoset.statistic.today_discount < 40 %}
                                            DarkOrange
                                        {% elif legoset.statistic.today_discount <= 50 %}
                                            OrangeRed
                                        {% elif legoset.statistic.today_discount > 50 %}
                                            Red
                                        {% endif %}
                                        "> {{ legoset.statistic.today_discount }}%
                                </div>
                            </div>
                            <a href="/{{ legoset.id }}">{{ legoset.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
                <div class="pagination">
                    {% for page in page_obj.paginator.page_range %}
                        {% if page == 1 or page >= page_obj.number|add:'-3' and page <= page_obj.number|add:'3' or page == page_obj.paginator.num_pages %}
                            <a class="paginator_page_num  {% if page == page_obj.number %} active {% endif %}"
                               href="?{% paginator_url_replace request 'page' page %}">
                                {{ page }}
                            </a>
                        {% else %}
                            {% if page == page_obj.number|add:'-4' or page == page_obj.number|add:'4' %}
                                <span class="paginator_page_num">...</span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
