{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'main/js/script.js' %}"></script>
    <script src="{% static 'main/js/sliders.js' %}"></script>
    <script src="{% static 'main/js/jquery.ui.touch-punch.min.js' %}"></script>
    <script>$('#widget').draggable();</script>

    {% block css %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<header class="header">
    <div id="header_menu">
        <div class="header_menu-item div_href">
            <a href="{% url 'index' %}" class="header_menu-link">Главная</a>
        </div>
        <div class="header_menu-item div_href">
            <a href="{% url 'all_lego_sets' %}" class="header_menu-link">Все наборы</a>
        </div>
        <div class="header_menu-item div_href">
            <a href="{% url 'hot' %}" class="header_menu-link">Скидки</a>
        </div>
        <div class="header_menu-item div_href">
            <a href="{% url 'series' %}" class="header_menu-link">Серии</a>
        </div>
        <div class="header_menu-item div_href form_submit">
            <form class="form_submit" id="search_form" action="../search" method="get"><label>
                <input class="header_menu-link" id="searchbar" type="text"
                       name="search_request" value="{{ search_request }}"></label>
                <span class="search_text form_submit">Поиск</span>
            </form>
        </div>
    </div>
    <div id="header_js_bar">МЕНЮ</div>
</header>
<div id="all_page_wrapper">
    <div id="modal_menu">
        <div id="close_modal" class="modal_menu-item">Закрыть меню</div>
        <div class="modal_menu-item div_href"><a href="{% url 'index' %}" class="header_menu-link">Главная</a></div>
        <div class="modal_menu-item div_href"><a href="{% url 'all_lego_sets' %}" class="header_menu-link">Все
            наборы</a></div>
        <div class="modal_menu-item div_href"><a href="{% url 'hot' %}" class="header_menu-link">Скидки</a></div>
        <div class="modal_menu-item div_href"><a href="{% url 'series' %}" class="header_menu-link">Серии</a></div>
        <div class="modal_menu-item div_href form_submit">
            <form action="../search" method="get"><label>
                <input class="header_menu-link" id="searchbar" type="text"
                       name="search_request" value="{{ search_request }}">
                <span class="search_text form_submit">Поиск</span></label>
            </form>
        </div>
    </div>
</div>
<div class="content">
    {% block content %} {% endblock %}
</div>
<footer>
    Данный веб-сайт является независимым и не был санкционирован или создан Группой компаний LEGO®
</footer>

</body>
</html>