{% extends 'main/main_layout.html' %}
{% load static %}

{% block title %} Все серии LEGO {% endblock %}

{% block content %}
    <div class="site_description">
        <h1>Серии LEGO:</h1>
    </div>
    <div class="index_wrapper">
        <div class="products_inner">
            {% for serie in serie_list %}
                <div class="product_wrapper div_href">
                    <div class="product_image">
                        <img src="{% static "main/images/series_logos/" %}{{ serie.id }}.png" alt="{{ serie.name }}">
                    </div>
                    <div class="product_info">
                        <div class="product_main_info">
                            <div class="serie_param">
                                <a href="/series/{{ serie.id }}">
                                    всего наборов: {{ serie.id__count }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}