.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}


/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 3px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 3px;
}


/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget.ui-widget-content {
	border: 1px solid #c5c5c5;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	border: 1px solid #dddddd;
	border-radius: 8px;
	background: #FFC42E;
	color: #333333;
	font-weight: bold;
}
.ui-widget-header a {
	color: #333333;
}



/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,

/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: 1px solid #c5c5c5;
	border-radius: 8px;
	background: #f6f6f6;
	font-weight: normal;
	color: #454545;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
	color: #454545;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: 1px solid #cccccc;
	border-radius: 8px;
	background: #cecece;
	font-weight: normal;
	color: #2b2b2b;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
	color: #2b2b2b;
	text-decoration: none;
}

.ui-visual-focus {
	box-shadow: 0 0 3px 1px rgb(94, 158, 214);
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid black;
	border-radius: 8px;
	background: black;
	font-weight: normal;
	color: #ffffff;
}
/*.ui-icon-background,*/
/*.ui-state-active .ui-icon-background {*/
/*	border: #003eff;*/
/*	background-color: #ffffff;*/
/*}*/
/*.ui-state-active a,*/
/*.ui-state-active a:link,*/
/*.ui-state-active a:visited {*/
/*	color: #ffffff;*/
/*	text-decoration: none;*/
/*}*/

/* Interaction Cues
----------------------------------*/
/*.ui-state-highlight,*/
/*.ui-widget-content .ui-state-highlight,*/
/*.ui-widget-header .ui-state-highlight {*/
/*	border: 1px solid #dad55e;*/
/*	background: #fffa90;*/
/*	color: #777620;*/
/*}*/
/*.ui-state-checked {*/
/*	border: 1px solid #dad55e;*/
/*	background: #fffa90;*/
/*}*/
/*.ui-state-highlight a,*/
/*.ui-widget-content .ui-state-highlight a,*/
/*.ui-widget-header .ui-state-highlight a {*/
/*	color: #777620;*/
/*}*/
/*.ui-state-error,*/
/*.ui-widget-content .ui-state-error,*/
/*.ui-widget-header .ui-state-error {*/
/*	border: 1px solid #f1a899;*/
/*	background: #fddfdf;*/
/*	color: #5f3f3f;*/
/*}*/
/*.ui-state-error a,*/
/*.ui-widget-content .ui-state-error a,*/
/*.ui-widget-header .ui-state-error a {*/
/*	color: #5f3f3f;*/
/*}*/
/*.ui-state-error-text,*/
/*.ui-widget-content .ui-state-error-text,*/
/*.ui-widget-header .ui-state-error-text {*/
/*	color: #5f3f3f;*/
/*}*/
/*.ui-priority-primary,*/
/*.ui-widget-content .ui-priority-primary,*/
/*.ui-widget-header .ui-priority-primary {*/
/*	font-weight: bold;*/
/*}*/
/*.ui-priority-secondary,*/
/*.ui-widget-content .ui-priority-secondary,*/
/*.ui-widget-header .ui-priority-secondary {*/
/*	opacity: .7;*/
/*	filter:Alpha(Opacity=70); !* support: IE8 *!*/
/*	font-weight: normal;*/
/*}*/
/*.ui-state-disabled,*/
/*.ui-widget-content .ui-state-disabled,*/
/*.ui-widget-header .ui-state-disabled {*/
/*	opacity: .35;*/
/*	filter:Alpha(Opacity=35); !* support: IE8 *!*/
/*	background-image: none;*/
/*}*/
/*.ui-state-disabled .ui-icon {*/
/*	filter:Alpha(Opacity=35); !* support: IE8 - See #6059 *!*/
/*}*/

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
