#all_page_wrapper {
    display: none;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(100, 100, 100, .9)
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

body a {
    text-decoration: none;
    color: unset;
}

.header {
    font-family: 'Russo One', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFC42E;
    text-align: center;
    box-shadow: 0 0.4em 5px rgba(122, 122, 122, 0.5);
    padding: 0;
    margin: 0;
    z-index: 100;
}

#header_menu {
    display: flex;
    width: 80%;
    margin: 0 auto 0 auto;
    font-size: 1.2em;
}

.header_menu-item {
    flex: 1 1 0;
    padding: 15px 5px;
    justify-content: space-between;
}

.header_menu-item:hover {
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

#searchbar {
    border-radius: 5px;
}

#header_js_bar {
    display: none;
}

@media (max-width: 1599px) {
    .search_text {
        display: none;
    }
}

@media (max-width: 880px) {
    .header {
        height: 50px;
        text-align: right;
    }

    #header_js_bar {
        display: block;
        padding: 15px;
        cursor: pointer;
    }

    #header_menu {
        position: absolute;
        top: 40vh;
        right: 10vw;
        display: none;
        text-align: center;
    }

    .header_menu-item form {
        display: block;
    }

    .search_text {
        display: block;
    }
}

#modal_menu {
    position: fixed;
    display: none;
    width: 80%;
    height: auto;
    top: 10%;
    left: 10%;
    color: white;
    text-align: center;
    flex-direction: column;
    z-index: 9999;
}

.modal_menu-item {
    border-radius: 5px;
    background-color: #FFC42E;
    color: black;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.75);
    margin: 5px 30px;
    z-index: 9999;
    padding: 10px;
}

#close_modal {
    background-color: white;
}

.visible {
    display: block;
}

.content {
    max-width: 1500px;
    min-height: 100vh;
    background-color: white;
    margin: 0 auto 0 auto;
    padding-top: 40px;
}

#expand_sorting {
    display: none;
}

#remove_sorting {
    display: none;
}

.sort-by {
    margin: 20% 0 auto 0;
    font-weight: bold;
    padding-inline-start: 0;
}

@media (max-width: 1024px) {
    .content {
        margin: 0 auto 0 auto;
    }

    .sort-by {
        margin: 10% 0 0 0;
    }

    .sidebar_list {
        display: none;
    }

    #expand_sorting {
        display: block;
        width: 100%;
        border: none;
        background-color: #FFC42E;
        padding: 10px 0;
        margin: 5% 0 0 0;
    }

    #remove_sorting {
        display: none;
        width: 100%;
        border: none;
        background-color: #FFC42E;
        padding: 10px 0;
        margin: 5% 0 0 0;
    }
}

@media (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        gap: 0 0;
        grid-auto-flow: row;
        grid-template-areas:
        "sidebar products_outer products_outer products_outer products_outer products_outer";
    }
}

@media (min-width: 1024px) {
    .sidebar {
        position: fixed;
        grid-area: sidebar;
        width: 13vw;
        height: 100%;
        background-color: #f9f9f9;
        box-shadow: 0 0.2em 0.2em 0.2em rgba(122, 122, 122, 0.5);
        z-index: 0;
    }
}

.sidebar_list {
    padding: 0 20px 20px 20px;
    text-align: center;
    list-style: none;
}

@media (min-width: 1024px) {
    .sidebar_list {
        height: 100vh;
    }
}


#pagination-select {
    border-radius: 5px;
}

.ordering-button {
    width: 100%;
    border: none;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 5px 0;
    background-color: #cecece;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}

.ordering-button:hover {
    background-color: black;
    color: white;
}

@media (max-width: 1024px) {
    .ordering-button {
        display: inline-block;
    }
}

.pagination {
    display: flex;
    width: 60%;
    margin: 0 auto 0 auto;
    padding-bottom: 20px;
    justify-content: space-around;
}

.paginator_page_num {
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
}

.paginator_page_num:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.paginator_page_ellipsis {
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
}

.paginator_page_ellipsis:hover {
    cursor: default;
}

.products_outer {
    margin-top: 40px;
    grid-area: products_outer;
}

.products_inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: minmax(400px, 1fr);
}

.product_wrapper {
    padding: 5px;
    margin: 10px;
    transition: all 0.3s;
    border-radius: 12px;
}

.product_wrapper:hover {
    transform: scale(1.05);
    transition: all 0.5s;
    cursor: pointer;
}


.product_image {
    padding: 5px;
    height: 65%;
    display: flex;
}

.product_image img {
    display: block;
    width: 200px;
    height: auto;
    margin: auto;
}

@media (max-width: 736px) {
    .product_image img {
        max-width: 300px;
    }
}

.product_info {
    padding: 5px;
    height: 35%;
}

.product_main_info {
    display: flex;
}

.product_param {
    font-size: 1.4em;
    font-weight: bold;
    width: 50%;
    border-radius: 8px;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

.product_price {
    background-color: black;
    color: white;
}

.product_discount {

}

.product_id {
    font-size: 1.4em;
    width: 50%;
    display: inline-block;
}

.inline-product_id {
    width: 100%;
}

.product_ages {
    margin-left: auto;
    text-align: center;
    border-radius: 8px;
}

.hidden {
    visibility: hidden;
}

footer {
    position: relative;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
    z-index: 100;
}

.active {
    background-color: #FFC42E;
}

.bordered {
    border: 1px solid black
}

/* Для LegoSetDetailView */
.single_content_wrapper {
    background-color: white;
}

@media (orientation: landscape), (min-width: 768px) {
    .single_info_wrapper {
        display: flex;
    }
}

.single_image {
    margin: 10% auto auto;
    padding: 5vw;
    text-align: center;
}

@media (orientation: landscape), (min-width: 768px) {
    .single_image {
        width: 50%;
        margin: auto;
        padding: 5vw;
        text-align: center;
    }
}

@media (orientation: landscape), (max-height: 414px) {
    .single_image {
        margin: auto;
        text-align: center;
    }
}

.single_image img {
    max-width: 100%;
    max-height: 60vh;
    margin: auto;
}

@media (orientation: landscape) and (max-height: 414px) {
    .single_image img {
        max-width: 100%;
        max-height: 90vh;
        margin: auto;
    }
}

.single_info {
    margin: 50px auto auto auto;
    width: 50%;
}

@media (orientation: landscape) and (min-height: 1024px) {
    .single_info {
        width: 30%;
    }
}

@media (orientation: portrait) and (max-width: 768px) {
    .single_info {
        width: 90%;
    }
}

.single_description {
    text-align: justify;
    width: 90%;
    margin: auto auto 30px;
}

.single_price_wrapper {
    width: 100%;
    margin-bottom: 30px;
}

.single_params {
    font-weight: bold;
    font-size: 1.4em;
}

.single_price {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    background-color: black;
    color: white;
    border-radius: 8px;
}

.single_discount {
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    text-align: center;
}

.shop_logos {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    text-align: center;
}

.shop_logo {
    width: 100%;
    display: flex;
    align-items: center;
}

.shop_logo img {
    display: block;
    max-width: 180px;
    margin: auto;
}

@media (max-width: 500px) {
    .shop_logo img {
        max-width: 150px;
    }
}

.today_prices {
    display: flex;
    align-content: space-between;
    font-size: 1.4em;
    font-weight: bold;
}

.today_price {
    margin: 0 auto;
    width: 50px;
}

.prices_table_title {
    width: 100%;
    background-color: #FFC42E;
    font-weight: bold;
    margin-bottom: 30px;
}

.single_table_wrapper {
    text-align: center;
}

.prices_table {
    margin: auto;
    width: 80%;
    max-width: 1080px;
}

.prices_table tr:hover {
    background-color: #FFC42E;
    cursor: default;
}

.footer_about {
    display: inline-block;
    color: #FFC42E;
}

.index_wrapper {
    width: 80%;
    margin: auto;
}

@media (orientation: portrait) and (max-width: 768px) {
    .index_wrapper {
        width: 100%;
    }

    .index_wrapper h2 {
        text-align: center;
    }
}

.site_description {
    margin: 6vh auto;
    width: 80%;
    text-align: justify;
}

.product_added {
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    background-color: #FFC42E;
}

.serie_param {
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
    border-radius: 8px;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#price-filter {
    border-radius: 5px;
    border: black solid 1px;
}

.filter {
    display: inline-block;
    width: auto;
}

.filter input {
    width: 50%;
}

.price-range {
    border: 0;
    font-weight: bold;
    width: 30%;
    border-radius: 5px;
}

.slider-range {
    margin: 5px auto auto auto;
    width: 85%;
}

#input-checkbox {
    display: none;
}

input:checked + div {
    background-color: #FFC42E
}

input:checked:hover + div {
    background-color: #FFC42E;
    color: black;
}

.div_href {
}

#search_menu {
}